<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guojiang.dao.PBannerMapper">
  <resultMap id="BaseResultMap" type="com.guojiang.bean.PBanner">
    <id column="pb_id" jdbcType="INTEGER" property="pbId" />
    <result column="pb_images" jdbcType="VARCHAR" property="pbImages" />
    <result column="pb_index" jdbcType="INTEGER" property="pbIndex" />
    <result column="pb_website" jdbcType="VARCHAR" property="pbWebsite" />
  </resultMap>
  <sql id="Base_Column_List">
    pb_id, pb_images, pb_index, pb_website
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pbanner
    where pb_id = #{pbId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pbanner
    where pb_id = #{pbId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.guojiang.bean.PBanner">
    insert into pbanner (pb_id, pb_images, pb_index, 
      pb_website)
    values (#{pbId,jdbcType=INTEGER}, #{pbImages,jdbcType=VARCHAR}, #{pbIndex,jdbcType=INTEGER}, 
      #{pbWebsite,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.guojiang.bean.PBanner">
    insert into pbanner
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pbId != null">
        pb_id,
      </if>
      <if test="pbImages != null">
        pb_images,
      </if>
      <if test="pbIndex != null">
        pb_index,
      </if>
      <if test="pbWebsite != null">
        pb_website,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pbId != null">
        #{pbId,jdbcType=INTEGER},
      </if>
      <if test="pbImages != null">
        #{pbImages,jdbcType=VARCHAR},
      </if>
      <if test="pbIndex != null">
        #{pbIndex,jdbcType=INTEGER},
      </if>
      <if test="pbWebsite != null">
        #{pbWebsite,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.guojiang.bean.PBanner">
    update pbanner
    <set>
      <if test="pbImages != null">
        pb_images = #{pbImages,jdbcType=VARCHAR},
      </if>
      <if test="pbIndex != null">
        pb_index = #{pbIndex,jdbcType=INTEGER},
      </if>
      <if test="pbWebsite != null">
        pb_website = #{pbWebsite,jdbcType=VARCHAR},
      </if>
    </set>
    where pb_id = #{pbId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guojiang.bean.PBanner">
    update pbanner
    set pb_images = #{pbImages,jdbcType=VARCHAR},
      pb_index = #{pbIndex,jdbcType=INTEGER},
      pb_website = #{pbWebsite,jdbcType=VARCHAR}
    where pb_id = #{pbId,jdbcType=INTEGER}
  </update>
</mapper>